[Unit]
Description=fogw
After=network-online.target
Requires=network-online.target

[Timer]
OnCalendar=*-*-* *:*:0/10
Persistent=True

[Install]
WantedBy=timers.target
